.nav_elements{
    align-items: center;
    display:flexbox;
   
}
.nav_elements button{
    margin: 50px;
}
.logo_class{
    display: inline;
   
}

.container{
    margin-left: 20px;
    margin-top: 30px;
}